<!DOCTYPE HTML>
<html>
<head>
<title>Tables</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="__CSS__/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="__JS__/jquery-1.11.1.min.js"></script>
<script src="__JS__/modernizr.custom.js"></script>
<!--webfonts-->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="__CSS__/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="__JS__/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="__JS__/metisMenu.min.js"></script>
<script src="__JS__/custom.js"></script>
<link href="__CSS__/custom.css" rel="stylesheet">
<!--//Metis Menu -->
</head> 
<body class="cbp-spmenu-push" style="background-color: #F1F1F1;    padding-bottom: 35px;">
	<div class="main-content">
	
		<!-- main content start-->
		<div id="page-wrapper">
			<div class="main-page">
				<div class="tables">
					
					<div class="bs-example widget-shadow" data-example-id="hoverable-table"> 
						<h4>Web navigation: <a href="{:url('navigation_ins')}">添加分类</a></h4>
						<table class="table table-hover">
							<thead>
							<tr>
							  <th>ID</th>
							  <th width="45%">标题</th>
							  <th>网址</th>
							  <th>跳转方式</th>
							  <th>操作</th>
							</tr>
							</thead>
							{if $info}
							{foreach name="info" item="vo"}
							<tr>
							  <th scope="row">{$vo.id}</th>
							  <td>{$vo.title}</td>
							  <td> <a href="{$vo.web_url}" target="_blank">{$vo.web_url}</a></td>
							  <td class="imgWudth">{$vo.target}</td>
							  <td>
							  
							  	[<a href="{:url('navigation_updata',array('id'=>$vo['id']))}">编辑</a>]&nbsp;&nbsp;
							  	[<a href="javascript:;" href-link="{:url('nav_del',array('id'=>$vo['id']))}" class="delLink">删除</a>]</td> 
							  	</td> 
							</tr>
							{if $vo.subordi}
							{foreach name="vo.subordi" item="vov"}
							<tr>
							  <th scope="row">{$vov.id}</th>
							  <td style="padding-left: 40px;"> ├─ {$vov.title}</td>
							  <td> <a href="{$vov.web_url}" target="_blank">{$vov.web_url}</a></td>
							  <td class="imgWudth">{$vov.target}</td>
							  <td>
							  	[<a href="{:url('navigation_updata',array('id'=>$vov['id']))}">编辑</a>]&nbsp;&nbsp;
							  	[<a href="javascript:;" href-link="{:url('nav_del',array('id'=>$vov['id']))}" class="delLink">删除</a>]
							  </td> 
							</tr>
							
							{/foreach}
							{/if}
							{/foreach}
							{/if}
						</table>
					</div>
				
				</div>
			</div>
		</div>
		<div class="col-md-4 modal-grids">

			<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
				<div class="modal-dialog modal-sm">
					<div class="modal-content"> 
						<img src="" alt="" id="modal_content" style="width: 100%;">
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="modal-backdrop fade in"></div> -->
	</div>
	<!-- Classie -->
		<script src="__JS__/classie.js"></script>
		<script>
		var delLinkMsg = '该分类下的所有分类将会一起删除，是否删除！';
		
		</script>
		<style>
		.imgWudth img{width: 30px;cursor: pointer;}
		</style>
	<!--scrolling js-->
	<script src="__JS__/jquery.nicescroll.js"></script>
	<script src="__JS__/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="__JS__/bootstrap.js"> </script>
</body>
</html>