<!DOCTYPE HTML>
<html>
<head>
<title>Tables</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
<!-- font CSS -->
<!-- font-awesome icons -->
<link href="__CSS__/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
 <!-- js-->
<script src="__JS__/jquery-1.11.1.min.js"></script>
<script src="__JS__/modernizr.custom.js"></script>
<!--webfonts-->
<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--//webfonts--> 
<!--animate-->
<link href="__CSS__/animate.css" rel="stylesheet" type="text/css" media="all">
<script src="__JS__/wow.min.js"></script>
	<script>
		 new WOW().init();
	</script>
<!--//end-animate-->
<!-- Metis Menu -->
<script src="__JS__/metisMenu.min.js"></script>
<script src="__JS__/custom.js"></script>
<link href="__CSS__/custom.css" rel="stylesheet">
<!--//Metis Menu -->
<style>
	textarea{width: 300px; height: 120px;resize: none; }
</style>
</head> 
<body class="cbp-spmenu-push" style="background-color: #F1F1F1;    padding-bottom: 35px;">
	<div class="main-content">
	
		<!-- main content start-->
		<div class="row">

			<div class="form-three widget-shadow">
				<form class="form-horizontal" method="post" action="">
					<div class="form-group">
						<label  class="col-sm-2 control-label">网站标题：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[site_web_title]" value="{$val['site_web_title']}">
						</div>
					
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">网站关键字：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[site_web_keyword]" value="{$val['site_web_keyword']}">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">网站描述：</label>
						<div class="col-sm-8">
							<textarea class="form-control1" name="web[site_web_description]">{$val['site_web_description']}</textarea>
					
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">对接用户：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[account]" value="{$val['account']}">
						</div>
						<div class="col-sm-2">
							<p class="help-block">Your help text!</p>
						</div>
					</div>
			
					<div class="form-group">
						<label for="inputPassword" class="col-sm-2 control-label">密码：</label>
						<div class="col-sm-8">
							<input type="password" class="form-control1" id="inputPassword" name="web[pass]" value="{$val['pass']}">
						</div>
					</div>

					<div class="form-group">
						<label  class="col-sm-2 control-label">汇率：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[exchange]" value="{$val['exchange']}">
						</div>
						<div class="col-sm-2">
							<p class="help-block">1美元转换成人民币的汇率<br/>关系到充值、提现</p>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">积分比例：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[integral]" value="{$val['integral']}">
						</div>
						<div class="col-sm-2">
							<p class="help-block">入金1美元转换成多少积分</p>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">每日签到送多少积分：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[everyday_integral]" value="{$val['everyday_integral']}">
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">最低入金金额：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[goldentry]" value="{$val['goldentry']}">
						</div>
						
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">用户入金通知（短信）手机号码：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[notify_phone]" value="{$val['notify_phone']}">
						</div>
						<div class="col-sm-2">
							<p class="help-block">不填写则不通知</p>
						</div>
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">阿里云财经日历AppCode：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[finance]" value="{$val['finance']}">
						</div>
						
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">网站版权：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[site_web_cop]" value="{$val['site_web_cop']}">
						</div>
						
					</div>
					<div class="form-group">
						<label  class="col-sm-2 control-label">ICP备案号：</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" name="web[site_web_icp]" value="{$val['site_web_icp']}">
						</div>
						
					</div>

					<!-- <div class="form-group">
						<label for="checkbox" class="col-sm-2 control-label">Checkbox</label>
						<div class="col-sm-8">
							<div class="checkbox-inline1"><label><input type="checkbox"> Unchecked</label></div>
							<div class="checkbox-inline1"><label><input type="checkbox" checked=""> Checked</label></div>
							<div class="checkbox-inline1"><label><input type="checkbox" disabled=""> Disabled Unchecked</label></div>
							<div class="checkbox-inline1"><label><input type="checkbox" disabled="" checked=""> Disabled Checked</label></div>
						</div>
					</div> -->
					<!-- <div class="form-group">
						<label for="checkbox" class="col-sm-2 control-label">Checkbox Inline</label>
						<div class="col-sm-8">
							<div class="checkbox-inline"><label><input type="checkbox"> Unchecked</label></div>
							<div class="checkbox-inline"><label><input type="checkbox" checked=""> Checked</label></div>
							<div class="checkbox-inline"><label><input type="checkbox" disabled=""> Disabled Unchecked</label></div>
							<div class="checkbox-inline"><label><input type="checkbox" disabled="" checked=""> Disabled Checked</label></div>
						</div>
					</div>
					<div class="form-group">
						<label for="selector1" class="col-sm-2 control-label">Dropdown Select</label>
						<div class="col-sm-8"><select name="selector1" id="selector1" class="form-control1">
							<option>Lorem ipsum dolor sit amet.</option>
							<option>Dolore, ab unde modi est!</option>
							<option>Illum, fuga minus sit eaque.</option>
							<option>Consequatur ducimus maiores voluptatum minima.</option>
						</select></div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Multiple Select</label>
						<div class="col-sm-8">
							<select multiple="" class="form-control1">
								<option>Option 1</option>
								<option>Option 2</option>
								<option>Option 3</option>
								<option>Option 4</option>
								<option>Option 5</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="txtarea1" class="col-sm-2 control-label">Textarea</label>
						<div class="col-sm-8"><textarea name="txtarea1" id="txtarea1" cols="50" rows="4" class="form-control1"></textarea></div>
					</div>
					<div class="form-group">
						<label for="radio" class="col-sm-2 control-label">Radio</label>
						<div class="col-sm-8">
							<div class="radio block"><label><input type="radio"> Unchecked</label></div>
							<div class="radio block"><label><input type="radio" checked=""> Checked</label></div>
							<div class="radio block"><label><input type="radio" disabled=""> Disabled Unchecked</label></div>
							<div class="radio block"><label><input type="radio" disabled="" checked=""> Disabled Checked</label></div>
						</div>
					</div>
					<div class="form-group">
						<label for="radio" class="col-sm-2 control-label">Radio Inline</label>
						<div class="col-sm-8">
							<div class="radio-inline"><label><input type="radio"> Unchecked</label></div>
							<div class="radio-inline"><label><input type="radio" checked=""> Checked</label></div>
							<div class="radio-inline"><label><input type="radio" disabled=""> Disabled Unchecked</label></div>
							<div class="radio-inline"><label><input type="radio" disabled="" checked=""> Disabled Checked</label></div>
						</div>
					</div>
					<div class="form-group">
						<label for="smallinput" class="col-sm-2 control-label label-input-sm">Small Input</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1 input-sm" id="smallinput" placeholder="Small Input">
						</div>
					</div>
					<div class="form-group">
						<label for="mediuminput" class="col-sm-2 control-label">Medium Input</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1" id="mediuminput" placeholder="Medium Input">
						</div>
					</div>
					<div class="form-group mb-n">
						<label for="largeinput" class="col-sm-2 control-label label-input-lg">Large Input</label>
						<div class="col-sm-8">
							<input type="text" class="form-control1 input-lg" id="largeinput" placeholder="Large Input">
						</div>
					</div> -->
					<input type="submit" value="修改">
				</form>
			</div>
		</div>

	</div>
	<!-- Classie -->
		<script src="__JS__/classie.js"></script>
		<script>
		var delLinkMsg = '是否确认删除文章！';
		
		</script>
	<!--scrolling js-->
	<script src="__JS__/jquery.nicescroll.js"></script>
	<script src="__JS__/scripts.js"></script>
	<!--//scrolling js-->
	<!-- Bootstrap Core JavaScript -->
	<script src="__JS__/bootstrap.js"> </script>
</body>
</html>